@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url("styles/topics.css");
@import url("styles/contact.css");
@import url("styles/footer.css");

:root {
  --background-color-main: #ffff;
  --background-color-secondary: #ebecee;
  --background-color-tertiary: #f0ead2;
  --primary-color: #6c584c;
  --primary-color-light: #a98467;
  --secondary-color: #adc178;
  --secondary-color-light: #dde5b6;
  --primary-degrade: linear-gradient(97.54deg, #6c584c 35.49%, #a98467 165.37%);
  --font: "Poppins";
  --font-title: "Josefin Sans";
  --font-color-on-primary: #ffffff;
  --font-color-on-secondary: #000000;
  --font-color-on-tertiary: #474646;
  --font-color-on-tertiary-light: #858585;
}

body {
  background-color: var(--background-color-tertiary);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
}

/* h1 {
  background-color: var(--background-color-tertiary);
} */
