.header__menu-hamburger {
  width: 40px;
  height: 40px;
  background-image: url("../assets/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header {
  background-color: var(--background-color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu__img {
  padding: 1em;
}

.header__menu__list {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.header__menu-checkbox {
  display: none;
}

.header__menu-checkbox:checked ~ .header__menu__list {
  display: block;
}

.header__menu__list__title,
.header__menu__list__item {
  padding: 1em;
  background-color: var(--background-color-main);
}

.header__menu__list__title {
  color: var(--secondary-color);
  font-weight: 700;
}

.header__menu__list__item {
}

.header__menu__list__link {
  background: var(--primary-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.header__title {
  display: none;
}

.options {
  display: none;
}

.img-hide {
  display: block;
}

@media screen and (min-width: 1024px) {
  .header__title,
  .header__title-bold {
    font-family: var(--font-title);
    font-size: 30px;
  }

  .header__title {
    font-weight: 400;
    display: block;
  }

  .header__title-bold {
    font-weight: 700;
  }

  .options {
    display: flex;
  }

  .options__item {
    padding: 1em;
    text-transform: uppercase;
  }

  .options__link {
    text-decoration: none;
    color: var(--font-color-on-secondary);
  }

  .options__link:active {
    background: var(--primary-degrade);
    color: var(--font-color-on-primary);
  }

  .img-hide {
    display: none;
  }

  .header__menu-hamburger {
    display: none;
  }

  .options-menu-checkbox:checked ~ .header__menu__list {
    display: block;
    width: auto;
  }

  .options-menu-checkbox {
    display: none;
  }
}
